In [253]:
import pandas as pd
import numpy as np

In [254]:
s = pd.Series([1,2,np.nan,6 ])
s

0    1.0
1    2.0
2    NaN
3    6.0
dtype: float64

In [255]:
s.index

RangeIndex(start=0, stop=4, step=1)

In [256]:
s.values

array([ 1.,  2., nan,  6.])

In [257]:
s[0]

1.0

In [258]:
s[2:4]

2    NaN
3    6.0
dtype: float64

In [259]:
s[::2]

0    1.0
2    NaN
dtype: float64

In [260]:
s.index.name = "code"
s

code
0    1.0
1    2.0
2    NaN
3    6.0
dtype: float64

In [261]:
s.index = list("abcd")
s

a    1.0
b    2.0
c    NaN
d    6.0
dtype: float64

In [262]:
s["a":"c"]

a    1.0
b    2.0
c    NaN
dtype: float64

In [263]:
date = pd.date_range('20180101',periods=6)
date

DatetimeIndex(['2018-01-01', '2018-01-02', '2018-01-03', '2018-01-04',
               '2018-01-05', '2018-01-06'],
              dtype='datetime64[ns]', freq='D')

In [264]:
df = pd.DataFrame(np.random.randn(6,4),index=date,columns=list("abcd"))
df

                   a         b         c         d
2018-01-01 -2.298469  0.511727  1.481638  0.422603
2018-01-02  0.327424 -1.412475  0.580876  0.092635
2018-01-03 -0.513329 -1.214473 -0.647630  0.592741
2018-01-04 -0.622859  0.058378  0.480433  1.964182
2018-01-05 -1.574731 -1.128719 -1.259842 -1.380800
2018-01-06 -1.233337  0.080945 -0.597241 -1.366081

In [265]:
df2 = pd.DataFrame({
    'A':1.,
    "B": pd.Timestamp("20181001"),
    "C":pd.Series(1,index=list(range(4)),dtype=float),
    "D":np.array([3]*4,dtype=int),
    "E":pd.Categorical(["test","train","test","train"]),
    "F":"abcd"
})
df2

     A          B    C  D      E     F
0  1.0 2018-10-01  1.0  3   test  abcd
1  1.0 2018-10-01  1.0  3  train  abcd
2  1.0 2018-10-01  1.0  3   test  abcd
3  1.0 2018-10-01  1.0  3  train  abcd

In [266]:
df.head(2)

                   a         b         c         d
2018-01-01 -2.298469  0.511727  1.481638  0.422603
2018-01-02  0.327424 -1.412475  0.580876  0.092635

In [267]:
df2.dtypes

A           float64
B    datetime64[ns]
C           float64
D             int32
E          category
F            object
dtype: object

In [268]:
df2.index

Int64Index([0, 1, 2, 3], dtype='int64')

In [269]:
df2.columns

Index(['A', 'B', 'C', 'D', 'E', 'F'], dtype='object')

In [270]:
df2.values

array([[1.0, Timestamp('2018-10-01 00:00:00'), 1.0, 3, 'test', 'abcd'],
       [1.0, Timestamp('2018-10-01 00:00:00'), 1.0, 3, 'train', 'abcd'],
       [1.0, Timestamp('2018-10-01 00:00:00'), 1.0, 3, 'test', 'abcd'],
       [1.0, Timestamp('2018-10-01 00:00:00'), 1.0, 3, 'train', 'abcd']],
      dtype=object)

In [271]:
df.values

array([[-2.29846892,  0.51172678,  1.48163817,  0.42260317],
       [ 0.32742364, -1.41247522,  0.58087585,  0.09263485],
       [-0.5133288 , -1.21447343, -0.64763   ,  0.59274077],
       [-0.62285857,  0.05837776,  0.48043317,  1.96418152],
       [-1.57473077, -1.12871887, -1.25984227, -1.38080045],
       [-1.23333732,  0.08094466, -0.59724146, -1.36608054]])

In [272]:
df = pd.read_excel("./豆瓣电影数据.xlsx")

In [273]:
df.head()

,名字,投票人数,类型,产地,上映时间,时长,年代,评分,首映地点
0,肖申克的救赎,692795.0,剧情/犯罪,美国,1994-09-10 00:00:00,142,1994,9.6,多伦多电影节
1,控方证人,42995.0,剧情/悬疑/犯罪,美国,1957-12-17 00:00:00,116,1957,9.5,美国
2,美丽人生,327855.0,剧情/喜剧/爱情,意大利,1997-12-20 00:00:00,116,1997,9.5,意大利
3,阿甘正传,580897.0,剧情/爱情,美国,1994-06-23 00:00:00,142,1994,9.4,洛杉矶首映
4,霸王别姬,478523.0,剧情/爱情/同性,中国大陆,1993-01-01 00:00:00,171,1993,9.4,香港

In [274]:
df.iloc[0]

名字                   肖申克的救赎
投票人数               692795.0
类型                    剧情/犯罪
产地                       美国
上映时间    1994-09-10 00:00:00
时长                      142
年代                     1994
评分                      9.6
首映地点                 多伦多电影节
Name: 0, dtype: object

In [275]:
df.iloc[0:5]

,名字,投票人数,类型,产地,上映时间,时长,年代,评分,首映地点
0,肖申克的救赎,692795.0,剧情/犯罪,美国,1994-09-10 00:00:00,142,1994,9.6,多伦多电影节
1,控方证人,42995.0,剧情/悬疑/犯罪,美国,1957-12-17 00:00:00,116,1957,9.5,美国
2,美丽人生,327855.0,剧情/喜剧/爱情,意大利,1997-12-20 00:00:00,116,1997,9.5,意大利
3,阿甘正传,580897.0,剧情/爱情,美国,1994-06-23 00:00:00,142,1994,9.4,洛杉矶首映
4,霸王别姬,478523.0,剧情/爱情/同性,中国大陆,1993-01-01 00:00:00,171,1993,9.4,香港

In [276]:
df.loc[0:5]

,名字,投票人数,类型,产地,上映时间,时长,年代,评分,首映地点
0,肖申克的救赎,692795.0,剧情/犯罪,美国,1994-09-10 00:00:00,142,1994,9.6,多伦多电影节
1,控方证人,42995.0,剧情/悬疑/犯罪,美国,1957-12-17 00:00:00,116,1957,9.5,美国
2,美丽人生,327855.0,剧情/喜剧/爱情,意大利,1997-12-20 00:00:00,116,1997,9.5,意大利
3,阿甘正传,580897.0,剧情/爱情,美国,1994-06-23 00:00:00,142,1994,9.4,洛杉矶首映
4,霸王别姬,478523.0,剧情/爱情/同性,中国大陆,1993-01-01 00:00:00,171,1993,9.4,香港
5,泰坦尼克号,157074.0,剧情/爱情/灾难,美国,2012-04-10 00:00:00,194,2012,9.4,中国大陆

In [277]:
dit = {
    "名字":"复仇者联盟三",
    "投票人数":123456,
    "类型":"剧情/科幻",
    "产地":"美国",
    "上映时间":"2018-05-04 00:00:00",
    "时长":"142",
    "年代":"2018",
    "评分":np.nan,
    "首映地点":"美国"
}
s = pd.Series(dit)
s.name = 38738
s

名字                   复仇者联盟三
投票人数                 123456
类型                    剧情/科幻
产地                       美国
上映时间    2018-05-04 00:00:00
时长                      142
年代                     2018
评分                      NaN
首映地点                     美国
Name: 38738, dtype: object

In [278]:
df = df.append(s)
df[-5:]

,名字,投票人数,类型,产地,上映时间,时长,年代,评分,首映地点
38734,1935年,57.0,喜剧/歌舞,美国,1935-03-15 00:00:00,98,1935,7.6,美国
38735,血溅画屏,95.0,剧情/悬疑/犯罪/武侠/古装,中国大陆,1905-06-08 00:00:00,91,1986,7.1,美国
38736,魔窟中的幻想,51.0,惊悚/恐怖/儿童,中国大陆,1905-06-08 00:00:00,78,1986,8.0,美国
38737,列宁格勒围困之星火战役 Блокада: Фильм 2: Ленинградский ме...,32.0,剧情/战争,苏联,1905-05-30 00:00:00,97,1977,6.6,美国
38738,复仇者联盟三,123456.0,剧情/科幻,美国,2018-05-04 00:00:00,142,2018,NaN,美国

In [279]:
df = df.drop([38738])
df.tail()

,名字,投票人数,类型,产地,上映时间,时长,年代,评分,首映地点
38733,神学院 S,46.0,Adult,法国,1905-06-05 00:00:00,58,1983,8.6,美国
38734,1935年,57.0,喜剧/歌舞,美国,1935-03-15 00:00:00,98,1935,7.6,美国
38735,血溅画屏,95.0,剧情/悬疑/犯罪/武侠/古装,中国大陆,1905-06-08 00:00:00,91,1986,7.1,美国
38736,魔窟中的幻想,51.0,惊悚/恐怖/儿童,中国大陆,1905-06-08 00:00:00,78,1986,8.0,美国
38737,列宁格勒围困之星火战役 Блокада: Фильм 2: Ленинградский ме...,32.0,剧情/战争,苏联,1905-05-30 00:00:00,97,1977,6.6,美国

In [280]:
df.columns

Index(['名字', '投票人数', '类型', '产地', '上映时间', '时长', '年代', '评分', '首映地点'], dtype='object')

In [281]:
df['名字'][:5]

0    肖申克的救赎
1      控方证人
2     美丽人生
3      阿甘正传
4      霸王别姬
Name: 名字, dtype: object

In [282]:
df[["名字","类型"]]

                                                      名字              类型
0                                                 肖申克的救赎           剧情/犯罪
1                                                   控方证人        剧情/悬疑/犯罪
2                                                  美丽人生         剧情/喜剧/爱情
3                                                   阿甘正传           剧情/爱情
4                                                   霸王别姬        剧情/爱情/同性
...                                                  ...             ...
38733                                              神学院 S           Adult
38734                                              1935年           喜剧/歌舞
38735                                               血溅画屏  剧情/悬疑/犯罪/武侠/古装
38736                                             魔窟中的幻想        惊悚/恐怖/儿童
38737  列宁格勒围困之星火战役 Блокада: Фильм 2: Ленинградский ме...           剧情/战争

[38738 rows x 2 columns]

In [283]:
df["序号"] = range(1,len(df)+1)
df

,名字,投票人数,类型,产地,上映时间,时长,年代,评分,首映地点,序号
0,肖申克的救赎,692795.0,剧情/犯罪,美国,1994-09-10 00:00:00,142,1994,9.6,多伦多电影节,1
1,控方证人,42995.0,剧情/悬疑/犯罪,美国,1957-12-17 00:00:00,116,1957,9.5,美国,2
2,美丽人生,327855.0,剧情/喜剧/爱情,意大利,1997-12-20 00:00:00,116,1997,9.5,意大利,3
3,阿甘正传,580897.0,剧情/爱情,美国,1994-06-23 00:00:00,142,1994,9.4,洛杉矶首映,4
4,霸王别姬,478523.0,剧情/爱情/同性,中国大陆,1993-01-01 00:00:00,171,1993,9.4,香港,5
...,...,...,...,...,...,...,...,...,...,...
38733,神学院 S,46.0,Adult,法国,1905-06-05 00:00:00,58,1983,8.6,美国,38734
38734,1935年,57.0,喜剧/歌舞,美国,1935-03-15 00:00:00,98,1935,7.6,美国,38735
38735,血溅画屏,95.0,剧情/悬疑/犯罪/武侠/古装,中国大陆,1905-06-08 00:00:00,91,1986,7.1,美国,38736
38736,魔窟中的幻想,51.0,惊悚/恐怖/儿童,中国大陆,1905-06-08 00:00:00,78,1986,8.0,美国,38737
38737,列宁格勒围困之星火战役 Блокада: Фильм 2: Ленинградский ме...,32.0,剧情/战争,苏联,1905-05-30 00:00:00,97,1977,6.6,美国,38738

In [284]:
df = df.drop("序号",axis=1)
df

,名字,投票人数,类型,产地,上映时间,时长,年代,评分,首映地点
0,肖申克的救赎,692795.0,剧情/犯罪,美国,1994-09-10 00:00:00,142,1994,9.6,多伦多电影节
1,控方证人,42995.0,剧情/悬疑/犯罪,美国,1957-12-17 00:00:00,116,1957,9.5,美国
2,美丽人生,327855.0,剧情/喜剧/爱情,意大利,1997-12-20 00:00:00,116,1997,9.5,意大利
3,阿甘正传,580897.0,剧情/爱情,美国,1994-06-23 00:00:00,142,1994,9.4,洛杉矶首映
4,霸王别姬,478523.0,剧情/爱情/同性,中国大陆,1993-01-01 00:00:00,171,1993,9.4,香港
...,...,...,...,...,...,...,...,...,...
38733,神学院 S,46.0,Adult,法国,1905-06-05 00:00:00,58,1983,8.6,美国
38734,1935年,57.0,喜剧/歌舞,美国,1935-03-15 00:00:00,98,1935,7.6,美国
38735,血溅画屏,95.0,剧情/悬疑/犯罪/武侠/古装,中国大陆,1905-06-08 00:00:00,91,1986,7.1,美国
38736,魔窟中的幻想,51.0,惊悚/恐怖/儿童,中国大陆,1905-06-08 00:00:00,78,1986,8.0,美国
38737,列宁格勒围困之星火战役 Блокада: Фильм 2: Ленинградский ме...,32.0,剧情/战争,苏联,1905-05-30 00:00:00,97,1977,6.6,美国

In [285]:
df.loc[1,"名字"]

'控方证人'

In [286]:
df.loc[[1,3,5,7,9],["名字","评分"]]

                                      名字   评分
1                                   控方证人  9.5
3                                   阿甘正传  9.4
5                                 泰坦尼克号   9.4
7  新世纪福音战士剧场版：Air/真心为你 新世紀エヴァンゲリオン劇場版 Ai  9.4
9                               这个杀手不太冷   9.4

In [287]:
df[df['产地']=="美国"].head()

       名字      投票人数        类型  产地                 上映时间   时长    年代   评分    首映地点
0  肖申克的救赎  692795.0     剧情/犯罪  美国  1994-09-10 00:00:00  142  1994  9.6  多伦多电影节
1    控方证人   42995.0  剧情/悬疑/犯罪  美国  1957-12-17 00:00:00  116  1957  9.5      美国
3    阿甘正传  580897.0     剧情/爱情  美国  1994-06-23 00:00:00  142  1994  9.4   洛杉矶首映
5  泰坦尼克号   157074.0  剧情/爱情/灾难  美国  2012-04-10 00:00:00  194  2012  9.4    中国大陆
6  辛德勒的名单  306904.0  剧情/历史/战争  美国  1993-11-30 00:00:00  195  1993  9.4   华盛顿首映

In [288]:
df[(df.产地=="美国")&(df.评分>9)].head()

       名字      投票人数        类型  产地                 上映时间   时长    年代   评分    首映地点
0  肖申克的救赎  692795.0     剧情/犯罪  美国  1994-09-10 00:00:00  142  1994  9.6  多伦多电影节
1    控方证人   42995.0  剧情/悬疑/犯罪  美国  1957-12-17 00:00:00  116  1957  9.5      美国
3    阿甘正传  580897.0     剧情/爱情  美国  1994-06-23 00:00:00  142  1994  9.4   洛杉矶首映
5  泰坦尼克号   157074.0  剧情/爱情/灾难  美国  2012-04-10 00:00:00  194  2012  9.4    中国大陆
6  辛德勒的名单  306904.0  剧情/历史/战争  美国  1993-11-30 00:00:00  195  1993  9.4   华盛顿首映

In [289]:
df[((df.产地=="美国")|(df.产地=="中国大陆"))&(df.评分>9)]

,名字,投票人数,类型,产地,上映时间,时长,年代,评分,首映地点
0,肖申克的救赎,692795.0,剧情/犯罪,美国,1994-09-10 00:00:00,142,1994,9.6,多伦多电影节
1,控方证人,42995.0,剧情/悬疑/犯罪,美国,1957-12-17 00:00:00,116,1957,9.5,美国
3,阿甘正传,580897.0,剧情/爱情,美国,1994-06-23 00:00:00,142,1994,9.4,洛杉矶首映
4,霸王别姬,478523.0,剧情/爱情/同性,中国大陆,1993-01-01 00:00:00,171,1993,9.4,香港
5,泰坦尼克号,157074.0,剧情/爱情/灾难,美国,2012-04-10 00:00:00,194,2012,9.4,中国大陆
...,...,...,...,...,...,...,...,...,...
37951,欢乐树的朋友们：赶尽杀绝,4151.0,喜剧/动画,美国,2005-11-28 00:00:00,84,2005,9.2,美国
38119,山那边,70.0,剧情,美国,1975-11-14 00:00:00,103,1975,9.1,美国
38452,奎,62.0,纪录片/短片,美国,2015-08-19 00:00:00,9,2015,9.1,纽约电影论坛
38465,十二怒汉,466.0,剧情/悬疑/犯罪,美国,1954-09-20 00:00:00,52,1954,9.3,美国
38690,周六夜现场,193.0,喜剧/音乐,美国,2003-10-11 00:00:00,90,2003,9.4,美国

In [290]:
df[df["名字"].isnull()].head()

      名字    投票人数      类型  产地                 上映时间   时长    年代   评分 首映地点
231  NaN   144.0  纪录片/音乐  韩国  2011-02-02 00:00:00   90  2011  9.7   美国
361  NaN    80.0      短片  其他  1905-05-17 00:00:00    4  1964  5.7   美国
369  NaN  5315.0      剧情  日本  2004-07-10 00:00:00  111  2004  7.5   日本
372  NaN   263.0   短片/音乐  英国  1998-06-30 00:00:00   34  1998  9.2   美国
374  NaN    47.0      短片  其他  1905-05-17 00:00:00    3  1964  6.7   美国

In [291]:
df[df["名字"].notnull()].head()

,名字,投票人数,类型,产地,上映时间,时长,年代,评分,首映地点
0,肖申克的救赎,692795.0,剧情/犯罪,美国,1994-09-10 00:00:00,142,1994,9.6,多伦多电影节
1,控方证人,42995.0,剧情/悬疑/犯罪,美国,1957-12-17 00:00:00,116,1957,9.5,美国
2,美丽人生,327855.0,剧情/喜剧/爱情,意大利,1997-12-20 00:00:00,116,1997,9.5,意大利
3,阿甘正传,580897.0,剧情/爱情,美国,1994-06-23 00:00:00,142,1994,9.4,洛杉矶首映
4,霸王别姬,478523.0,剧情/爱情/同性,中国大陆,1993-01-01 00:00:00,171,1993,9.4,香港

In [292]:
df = df.append(s)
df[df["评分"].isnull()].head(10)

           名字      投票人数     类型  产地                 上映时间   时长    年代  评分 首映地点
38738  复仇者联盟三  123456.0  剧情/科幻  美国  2018-05-04 00:00:00  142  2018 NaN   美国

In [293]:
df["评分"].fillna(np.mean(df["评分"]),inplace=True)
df.tail()

,名字,投票人数,类型,产地,上映时间,时长,年代,评分,首映地点
38734,1935年,57.0,喜剧/歌舞,美国,1935-03-15 00:00:00,98,1935,7.600000,美国
38735,血溅画屏,95.0,剧情/悬疑/犯罪/武侠/古装,中国大陆,1905-06-08 00:00:00,91,1986,7.100000,美国
38736,魔窟中的幻想,51.0,惊悚/恐怖/儿童,中国大陆,1905-06-08 00:00:00,78,1986,8.000000,美国
38737,列宁格勒围困之星火战役 Блокада: Фильм 2: Ленинградский ме...,32.0,剧情/战争,苏联,1905-05-30 00:00:00,97,1977,6.600000,美国
38738,复仇者联盟三,123456.0,剧情/科幻,美国,2018-05-04 00:00:00,142,2018,6.935704,美国

In [294]:
df1 = df.fillna("未知电影")
df1[df1["名字"].isnull()]

Empty DataFrame
Columns: [名字, 投票人数, 类型, 产地, 上映时间, 时长, 年代, 评分, 首映地点]
Index: []

In [295]:
df2 = df.dropna()

In [302]:
df[df["投票人数"]<0]

Empty DataFrame
Columns: [名字, 投票人数, 类型, 产地, 上映时间, 时长, 年代, 评分, 首映地点]
Index: []

In [301]:
df[df["投票人数"]%1!=0]

Empty DataFrame
Columns: [名字, 投票人数, 类型, 产地, 上映时间, 时长, 年代, 评分, 首映地点]
Index: []

In [303]:
df = df[(df["投票人数"]>0)&(df["投票人数"]%1==0)]

In [304]:
df.to_excel("movie_data.xlsx")