In [2]:
import numpy as np
import pandas as pd

In [2]:
s=pd.Series([1,3,5,np.nan,6,8])
print(s)

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [3]:
s=pd.Series([1,3,5,np.nan,6,8],index=['a','b','c','d','e','f'])
print(s)

a    1.0
b    3.0
c    5.0
d    NaN
e    6.0
f    8.0
dtype: float64

# Series类型

索引:数据的行标签

In [5]:
s.index

Index(['a', 'b', 'c', 'd', 'e', 'f'], dtype='object')

In [6]:
s.values

array([ 1.,  3.,  5., nan,  6.,  8.])

In [8]:
s['c']

5.0

In [10]:
s[1]

3.0

In [11]:
s[2:5]

c    5.0
d    NaN
e    6.0
dtype: float64

In [13]:
s[4]=10
s

a     1.0
b     3.0
c     5.0
d     NaN
e    10.0
f     8.0
dtype: float64

In [14]:
#隔行取值，取1.0，5.0，10.0
s[::2]

a     1.0
c     5.0
e    10.0
dtype: float64

In [16]:
#索引赋值
s.index.name='索引'
s

索引
a     1.0
b     3.0
c     5.0
d     NaN
e    10.0
f     8.0
dtype: float64

In [17]:
s.index=list('abcdef')
s

a     1.0
b     3.0
c     5.0
d     NaN
e    10.0
f     8.0
dtype: float64

In [19]:
#切片
s['a':'c']

a    1.0
b    3.0
c    5.0
dtype: float64

# DataFrame类型

In [23]:
date=pd.date_range('20210101',periods=6)
print(date)

DatetimeIndex(['2021-01-01', '2021-01-02', '2021-01-03', '2021-01-04',
               '2021-01-05', '2021-01-06'],
              dtype='datetime64[ns]', freq='D')

In [24]:
df=pd.DataFrame(np.random.randn(6,4))  #生成六行四列的服从正态分布的随机数
df

          0         1         2         3
0 -2.064904 -0.592817 -0.801461  1.161931
1 -0.790174 -0.537619  0.232520  0.580263
2 -1.549316 -1.350563 -2.047473  0.100127
3  0.823131  0.655406 -1.291105 -1.545643
4 -0.645984  1.265439  0.640241 -1.081003
5 -0.068445 -0.553594  0.770652 -1.228962

In [25]:
df=pd.DataFrame(np.random.randn(6,4),index=date,columns=list('ABCD'))  
df

                   A         B         C         D
2021-01-01  0.507287 -0.884697 -1.330774 -1.857186
2021-01-02 -0.684911 -1.127543 -0.584108 -0.404014
2021-01-03 -1.207603 -0.490449  1.309693  1.227619
2021-01-04  1.165012  0.724386  1.071213 -1.105591
2021-01-05  0.829641 -0.337289 -0.838093  0.178594
2021-01-06  0.071805  0.421957  0.272848 -1.215104

使用字典传入

In [31]:
df2=pd.DataFrame({'A':1.,'B':pd.Timestamp('20211213'),'C':pd.Series(1,index=list(range(4)),dtype=float),'D':np.array([3]*4,dtype=int),'E':pd.Categorical(['test','train','test','train']),'F':'abc'})
df2

     A          B    C  D      E    F
0  1.0 2021-12-13  1.0  3   test  abc
1  1.0 2021-12-13  1.0  3  train  abc
2  1.0 2021-12-13  1.0  3   test  abc
3  1.0 2021-12-13  1.0  3  train  abc

# 查看数据

In [32]:
df.head()

                   A         B         C         D
2021-01-01  0.507287 -0.884697 -1.330774 -1.857186
2021-01-02 -0.684911 -1.127543 -0.584108 -0.404014
2021-01-03 -1.207603 -0.490449  1.309693  1.227619
2021-01-04  1.165012  0.724386  1.071213 -1.105591
2021-01-05  0.829641 -0.337289 -0.838093  0.178594

In [33]:
df2.tail(2)

     A          B    C  D      E    F
2  1.0 2021-12-13  1.0  3   test  abc
3  1.0 2021-12-13  1.0  3  train  abc

In [35]:
df2.dtypes   #查看类型

A           float64
B    datetime64[ns]
C           float64
D             int32
E          category
F            object
dtype: object

In [36]:
df.index       #查看下标

DatetimeIndex(['2021-01-01', '2021-01-02', '2021-01-03', '2021-01-04',
               '2021-01-05', '2021-01-06'],
              dtype='datetime64[ns]', freq='D')

In [37]:
df.columns     #查看列标

Index(['A', 'B', 'C', 'D'], dtype='object')

In [38]:
df.values         #查看值

array([[ 0.50728709, -0.88469667, -1.33077413, -1.85718554],
       [-0.68491115, -1.12754307, -0.58410782, -0.404014  ],
       [-1.20760333, -0.49044932,  1.3096934 ,  1.22761868],
       [ 1.16501201,  0.72438616,  1.07121273, -1.10559144],
       [ 0.82964139, -0.3372891 , -0.8380935 ,  0.1785936 ],
       [ 0.07180476,  0.42195667,  0.27284829, -1.21510444]])

# pandas读取excel数据

In [3]:
df=pd.read_excel('豆瓣电影数据.xlsx')

In [91]:
df.head()

,Unnamed: 0,名字,投票人数,类型,产地,上映时间,时长,年代,评分,首映地点
0,0.0,肖申克的救赎,692795.0,剧情/犯罪,美国,1994-09-10 00:00:00,142,1994,9.6,多伦多电影节
1,1.0,控方证人,42995.0,剧情/悬疑/犯罪,美国,1957-12-17 00:00:00,116,1957,9.5,美国
2,2.0,美丽人生,327855.0,剧情/喜剧/爱情,意大利,1997-12-20 00:00:00,116,1997,9.5,意大利
3,3.0,阿甘正传,580897.0,剧情/爱情,美国,1994-06-23 00:00:00,142,1994,9.4,洛杉矶首映
4,4.0,霸王别姬,478523.0,剧情/爱情/同性,中国大陆,1993-01-01 00:00:00,171,1993,9.4,香港

In [44]:
df.tail(1)

,Unnamed: 0,名字,投票人数,类型,产地,上映时间,时长,年代,评分,首映地点
38737,38737,列宁格勒围困之星火战役 Блокада: Фильм 2: Ленинградский ме...,32.0,剧情/战争,苏联,1905-05-30 00:00:00,97,1977,6.6,美国

iloc函数

In [41]:
df.iloc[0]

Unnamed: 0                      0
名字                         肖申克的救赎
投票人数                       692795
类型                          剧情/犯罪
产地                             美国
上映时间          1994-09-10 00:00:00
时长                            142
年代                           1994
评分                            9.6
首映地点                       多伦多电影节
Name: 0, dtype: object

In [42]:
df.iloc[0:5]

,Unnamed: 0,名字,投票人数,类型,产地,上映时间,时长,年代,评分,首映地点
0,0,肖申克的救赎,692795.0,剧情/犯罪,美国,1994-09-10 00:00:00,142,1994,9.6,多伦多电影节
1,1,控方证人,42995.0,剧情/悬疑/犯罪,美国,1957-12-17 00:00:00,116,1957,9.5,美国
2,2,美丽人生,327855.0,剧情/喜剧/爱情,意大利,1997-12-20 00:00:00,116,1997,9.5,意大利
3,3,阿甘正传,580897.0,剧情/爱情,美国,1994-06-23 00:00:00,142,1994,9.4,洛杉矶首映
4,4,霸王别姬,478523.0,剧情/爱情/同性,中国大陆,1993-01-01 00:00:00,171,1993,9.4,香港

loc函数

In [43]:
df.loc[0:5]

,Unnamed: 0,名字,投票人数,类型,产地,上映时间,时长,年代,评分,首映地点
0,0,肖申克的救赎,692795.0,剧情/犯罪,美国,1994-09-10 00:00:00,142,1994,9.6,多伦多电影节
1,1,控方证人,42995.0,剧情/悬疑/犯罪,美国,1957-12-17 00:00:00,116,1957,9.5,美国
2,2,美丽人生,327855.0,剧情/喜剧/爱情,意大利,1997-12-20 00:00:00,116,1997,9.5,意大利
3,3,阿甘正传,580897.0,剧情/爱情,美国,1994-06-23 00:00:00,142,1994,9.4,洛杉矶首映
4,4,霸王别姬,478523.0,剧情/爱情/同性,中国大陆,1993-01-01 00:00:00,171,1993,9.4,香港
5,5,泰坦尼克号,157074.0,剧情/爱情/灾难,美国,2012-04-10 00:00:00,194,2012,9.4,中国大陆

添加一行

In [82]:
dit={'名字':'复仇者联盟3','投票人数':123456,'类型':'剧情/科幻','产地':'美国','上映时间':'2018-05-04 00:00:00','时长':'142','年代':'2018','评分':np.nan,'首映地点':'美国'}
s=pd.Series(dit)
s.name=38738

In [48]:
s

名字                   复仇者联盟3
投票人数                 123456
类型                    剧情/科幻
产地                       美国
上映时间    2018-05-04 00:00:00
时长                      142
年代                     2018
评分                      8.7
首映地点                     美国
Name: 38738, dtype: object

In [86]:
df=df.append(s)
df[-5:]

,Unnamed: 0,名字,投票人数,类型,产地,上映时间,时长,年代,评分,首映地点
38734,38734.0,1935年,57.0,喜剧/歌舞,美国,1935-03-15 00:00:00,98,1935,7.6,美国
38735,38735.0,血溅画屏,95.0,剧情/悬疑/犯罪/武侠/古装,中国大陆,1905-06-08 00:00:00,91,1986,7.1,美国
38736,38736.0,魔窟中的幻想,51.0,惊悚/恐怖/儿童,中国大陆,1905-06-08 00:00:00,78,1986,8,美国
38737,38737.0,列宁格勒围困之星火战役 Блокада: Фильм 2: Ленинградский ме...,32.0,剧情/战争,苏联,1905-05-30 00:00:00,97,1977,6.6,美国
38738,NaN,复仇者联盟3,123456.0,剧情/科幻,美国,2018-05-04 00:00:00,142,2018,NaN,美国

删除一行

In [53]:
df=df.drop([38738])
df[-5:]

,Unnamed: 0,名字,投票人数,类型,产地,上映时间,时长,年代,评分,首映地点
38733,38733.0,神学院 S,46.0,Adult,法国,1905-06-05 00:00:00,58,1983,8.6,美国
38734,38734.0,1935年,57.0,喜剧/歌舞,美国,1935-03-15 00:00:00,98,1935,7.6,美国
38735,38735.0,血溅画屏,95.0,剧情/悬疑/犯罪/武侠/古装,中国大陆,1905-06-08 00:00:00,91,1986,7.1,美国
38736,38736.0,魔窟中的幻想,51.0,惊悚/恐怖/儿童,中国大陆,1905-06-08 00:00:00,78,1986,8,美国
38737,38737.0,列宁格勒围困之星火战役 Блокада: Фильм 2: Ленинградский ме...,32.0,剧情/战争,苏联,1905-05-30 00:00:00,97,1977,6.6,美国

# 列操作

In [54]:
df.columns

Index(['Unnamed: 0', '名字', '投票人数', '类型', '产地', '上映时间', '时长', '年代', '评分',
       '首映地点'],
      dtype='object')

In [55]:
df['名字']

0                                                   肖申克的救赎
1                                                     控方证人
2                                                    美丽人生
3                                                     阿甘正传
4                                                     霸王别姬
                               ...
38733                                                神学院 S
38734                                                1935年
38735                                                 血溅画屏
38736                                               魔窟中的幻想
38737    列宁格勒围困之星火战役 Блокада: Фильм 2: Ленинградский ме...
Name: 名字, Length: 38738, dtype: object

In [56]:
df['名字'][:5]

0    肖申克的救赎
1      控方证人
2     美丽人生
3      阿甘正传
4      霸王别姬
Name: 名字, dtype: object

In [57]:
df[['名字','类型']][:5]

       名字        类型
0  肖申克的救赎     剧情/犯罪
1    控方证人  剧情/悬疑/犯罪
2   美丽人生   剧情/喜剧/爱情
3    阿甘正传     剧情/爱情
4    霸王别姬  剧情/爱情/同性

增加一列

In [58]:
df['序号']=range(1,len(df)+1)
df[:5]

,Unnamed: 0,名字,投票人数,类型,产地,上映时间,时长,年代,评分,首映地点,序号
0,0.0,肖申克的救赎,692795.0,剧情/犯罪,美国,1994-09-10 00:00:00,142,1994,9.6,多伦多电影节,1
1,1.0,控方证人,42995.0,剧情/悬疑/犯罪,美国,1957-12-17 00:00:00,116,1957,9.5,美国,2
2,2.0,美丽人生,327855.0,剧情/喜剧/爱情,意大利,1997-12-20 00:00:00,116,1997,9.5,意大利,3
3,3.0,阿甘正传,580897.0,剧情/爱情,美国,1994-06-23 00:00:00,142,1994,9.4,洛杉矶首映,4
4,4.0,霸王别姬,478523.0,剧情/爱情/同性,中国大陆,1993-01-01 00:00:00,171,1993,9.4,香港,5

删除一列

In [59]:
df=df.drop('序号',axis=1)
df[:5]

,Unnamed: 0,名字,投票人数,类型,产地,上映时间,时长,年代,评分,首映地点
0,0.0,肖申克的救赎,692795.0,剧情/犯罪,美国,1994-09-10 00:00:00,142,1994,9.6,多伦多电影节
1,1.0,控方证人,42995.0,剧情/悬疑/犯罪,美国,1957-12-17 00:00:00,116,1957,9.5,美国
2,2.0,美丽人生,327855.0,剧情/喜剧/爱情,意大利,1997-12-20 00:00:00,116,1997,9.5,意大利
3,3.0,阿甘正传,580897.0,剧情/爱情,美国,1994-06-23 00:00:00,142,1994,9.4,洛杉矶首映
4,4.0,霸王别姬,478523.0,剧情/爱情/同性,中国大陆,1993-01-01 00:00:00,171,1993,9.4,香港

通过标签选择数据

In [60]:
#取一行一列
df.loc[1,'名字']

'控方证人'

In [61]:
#取多行多列
df.loc[[1,3,5,7,9],['名字','评分']]

                                      名字   评分
1                                   控方证人  9.5
3                                   阿甘正传  9.4
5                                 泰坦尼克号   9.4
7  新世纪福音战士剧场版：Air/真心为你 新世紀エヴァンゲリオン劇場版 Ai  9.4
9                               这个杀手不太冷   9.4

# 条件选择

选取产地为美国的电影

In [85]:
df['产地']=='美国'

0         True
1         True
2        False
3         True
4        False
         ...
38733    False
38734     True
38735    False
38736    False
38737    False
Name: 产地, Length: 38738, dtype: bool

In [84]:
df[df['产地']=='美国']

,Unnamed: 0,名字,投票人数,类型,产地,上映时间,时长,年代,评分,首映地点
0,0.0,肖申克的救赎,692795.0,剧情/犯罪,美国,1994-09-10 00:00:00,142,1994,9.6,多伦多电影节
1,1.0,控方证人,42995.0,剧情/悬疑/犯罪,美国,1957-12-17 00:00:00,116,1957,9.5,美国
3,3.0,阿甘正传,580897.0,剧情/爱情,美国,1994-06-23 00:00:00,142,1994,9.4,洛杉矶首映
5,5.0,泰坦尼克号,157074.0,剧情/爱情/灾难,美国,2012-04-10 00:00:00,194,2012,9.4,中国大陆
6,6.0,辛德勒的名单,306904.0,剧情/历史/战争,美国,1993-11-30 00:00:00,195,1993,9.4,华盛顿首映
...,...,...,...,...,...,...,...,...,...,...
38724,38724.0,跷家的一夜,82.0,喜剧/动作/惊悚/冒险,美国,1987-07-01 00:00:00,102,1987,7.8,美国
38726,38726.0,零下的激情,199.0,剧情/爱情/犯罪,美国,1987-11-06 00:00:00,98,1987,7.4,美国
38728,38728.0,离别秋波,240.0,剧情/爱情/音乐,美国,1986-02-19 00:00:00,90,1986,8.2,美国
38732,38732.0,极乐森林,45.0,纪录片,美国,1986-09-14 00:00:00,90,1986,8.1,美国
38734,38734.0,1935年,57.0,喜剧/歌舞,美国,1935-03-15 00:00:00,98,1935,7.6,美国

In [65]:
df[df['产地']=='美国'][:5]

,Unnamed: 0,名字,投票人数,类型,产地,上映时间,时长,年代,评分,首映地点
0,0.0,肖申克的救赎,692795.0,剧情/犯罪,美国,1994-09-10 00:00:00,142,1994,9.6,多伦多电影节
1,1.0,控方证人,42995.0,剧情/悬疑/犯罪,美国,1957-12-17 00:00:00,116,1957,9.5,美国
3,3.0,阿甘正传,580897.0,剧情/爱情,美国,1994-06-23 00:00:00,142,1994,9.4,洛杉矶首映
5,5.0,泰坦尼克号,157074.0,剧情/爱情/灾难,美国,2012-04-10 00:00:00,194,2012,9.4,中国大陆
6,6.0,辛德勒的名单,306904.0,剧情/历史/战争,美国,1993-11-30 00:00:00,195,1993,9.4,华盛顿首映

选取产地为美国，且评分大于9的电影

In [67]:
df[(df.产地=='美国')&(df.评分>9)][:5]

,Unnamed: 0,名字,投票人数,类型,产地,上映时间,时长,年代,评分,首映地点
0,0.0,肖申克的救赎,692795.0,剧情/犯罪,美国,1994-09-10 00:00:00,142,1994,9.6,多伦多电影节
1,1.0,控方证人,42995.0,剧情/悬疑/犯罪,美国,1957-12-17 00:00:00,116,1957,9.5,美国
3,3.0,阿甘正传,580897.0,剧情/爱情,美国,1994-06-23 00:00:00,142,1994,9.4,洛杉矶首映
5,5.0,泰坦尼克号,157074.0,剧情/爱情/灾难,美国,2012-04-10 00:00:00,194,2012,9.4,中国大陆
6,6.0,辛德勒的名单,306904.0,剧情/历史/战争,美国,1993-11-30 00:00:00,195,1993,9.4,华盛顿首映

选取产地为美国或中国，且评分大于9的电影

In [74]:
df[((df.产地=='美国')|(df.产地=='中国大陆'))&(df.评分>9)][:5]

,Unnamed: 0,名字,投票人数,类型,产地,上映时间,时长,年代,评分,首映地点
0,0.0,肖申克的救赎,692795.0,剧情/犯罪,美国,1994-09-10 00:00:00,142,1994,9.6,多伦多电影节
1,1.0,控方证人,42995.0,剧情/悬疑/犯罪,美国,1957-12-17 00:00:00,116,1957,9.5,美国
3,3.0,阿甘正传,580897.0,剧情/爱情,美国,1994-06-23 00:00:00,142,1994,9.4,洛杉矶首映
4,4.0,霸王别姬,478523.0,剧情/爱情/同性,中国大陆,1993-01-01 00:00:00,171,1993,9.4,香港
5,5.0,泰坦尼克号,157074.0,剧情/爱情/灾难,美国,2012-04-10 00:00:00,194,2012,9.4,中国大陆

# 缺失值和异常值处理

缺失值处理方法

判断缺失值

In [75]:
df.isnull()

,Unnamed: 0,名字,投票人数,类型,产地,上映时间,时长,年代,评分,首映地点
0,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...
38733,False,False,False,False,False,False,False,False,False,False
38734,False,False,False,False,False,False,False,False,False,False
38735,False,False,False,False,False,False,False,False,False,False
38736,False,False,False,False,False,False,False,False,False,False
38737,False,False,False,False,False,False,False,False,False,False

In [77]:
df[df['名字'].isnull()][:10]

,Unnamed: 0,名字,投票人数,类型,产地,上映时间,时长,年代,评分,首映地点
231,231.0,NaN,144.0,纪录片/音乐,韩国,2011-02-02 00:00:00,90,2011,9.7,美国
361,361.0,NaN,80.0,短片,其他,1905-05-17 00:00:00,4,1964,5.7,美国
369,369.0,NaN,5315.0,剧情,日本,2004-07-10 00:00:00,111,2004,7.5,日本
372,372.0,NaN,263.0,短片/音乐,英国,1998-06-30 00:00:00,34,1998,9.2,美国
374,374.0,NaN,47.0,短片,其他,1905-05-17 00:00:00,3,1964,6.7,美国
375,375.0,NaN,1193.0,短片/音乐,法国,1905-07-01 00:00:00,10,2010,7.7,美国
411,411.0,NaN,32.0,短片,其他,1905-05-17 00:00:00,3,1964,7,美国
432,432.0,NaN,1081.0,剧情/动作/惊悚/犯罪,美国,2016-02-26 00:00:00,115,2016,6,美国
441,441.0,NaN,213.0,恐怖,美国,2007-03-06 00:00:00,83,2007,3.2,美国
448,448.0,NaN,110.0,纪录片,荷兰,2002-04-19 00:00:00,48,2000,9.3,美国

In [78]:
df[df['名字'].notnull()][:10]

,Unnamed: 0,名字,投票人数,类型,产地,上映时间,时长,年代,评分,首映地点
0,0.0,肖申克的救赎,692795.0,剧情/犯罪,美国,1994-09-10 00:00:00,142,1994,9.6,多伦多电影节
1,1.0,控方证人,42995.0,剧情/悬疑/犯罪,美国,1957-12-17 00:00:00,116,1957,9.5,美国
2,2.0,美丽人生,327855.0,剧情/喜剧/爱情,意大利,1997-12-20 00:00:00,116,1997,9.5,意大利
3,3.0,阿甘正传,580897.0,剧情/爱情,美国,1994-06-23 00:00:00,142,1994,9.4,洛杉矶首映
4,4.0,霸王别姬,478523.0,剧情/爱情/同性,中国大陆,1993-01-01 00:00:00,171,1993,9.4,香港
5,5.0,泰坦尼克号,157074.0,剧情/爱情/灾难,美国,2012-04-10 00:00:00,194,2012,9.4,中国大陆
6,6.0,辛德勒的名单,306904.0,剧情/历史/战争,美国,1993-11-30 00:00:00,195,1993,9.4,华盛顿首映
7,7.0,新世纪福音战士剧场版：Air/真心为你 新世紀エヴァンゲリオン劇場版 Ai,24355.0,剧情/动作/科幻/动画/奇幻,日本,1997-07-19 00:00:00,87,1997,9.4,日本
8,8.0,银魂完结篇：直到永远的万事屋 劇場版 銀魂 完結篇 万事屋よ,21513.0,剧情/动画,日本,2013-07-06 00:00:00,110,2013,9.4,日本
9,9.0,这个杀手不太冷,662552.0,剧情/动作/犯罪,法国,1994-09-14 00:00:00,133,1994,9.4,法国

填充缺失值

In [79]:
df[df['投票人数'].isnull()][:10]         #无缺失值

Empty DataFrame
Columns: [Unnamed: 0, 名字, 投票人数, 类型, 产地, 上映时间, 时长, 年代, 评分, 首映地点]
Index: []

In [87]:
df[df['评分'].isnull()][:10]

,Unnamed: 0,名字,投票人数,类型,产地,上映时间,时长,年代,评分,首映地点
38738,NaN,复仇者联盟3,123456.0,剧情/科幻,美国,2018-05-04 00:00:00,142,2018,NaN,美国

In [89]:
df['评分'].fillna(np.mean(df['评分']),inplace=True)

In [90]:
df[-5:]

,Unnamed: 0,名字,投票人数,类型,产地,上映时间,时长,年代,评分,首映地点
38734,38734.0,1935年,57.0,喜剧/歌舞,美国,1935-03-15 00:00:00,98,1935,7.600000,美国
38735,38735.0,血溅画屏,95.0,剧情/悬疑/犯罪/武侠/古装,中国大陆,1905-06-08 00:00:00,91,1986,7.100000,美国
38736,38736.0,魔窟中的幻想,51.0,惊悚/恐怖/儿童,中国大陆,1905-06-08 00:00:00,78,1986,8.000000,美国
38737,38737.0,列宁格勒围困之星火战役 Блокада: Фильм 2: Ленинградский ме...,32.0,剧情/战争,苏联,1905-05-30 00:00:00,97,1977,6.600000,美国
38738,NaN,复仇者联盟3,123456.0,剧情/科幻,美国,2018-05-04 00:00:00,142,2018,6.935704,美国

In [92]:
df.fillna('未知电影')           #所有空值都这样填充

,Unnamed: 0,名字,投票人数,类型,产地,上映时间,时长,年代,评分,首映地点
0,0,肖申克的救赎,692795.0,剧情/犯罪,美国,1994-09-10 00:00:00,142,1994,9.600000,多伦多电影节
1,1,控方证人,42995.0,剧情/悬疑/犯罪,美国,1957-12-17 00:00:00,116,1957,9.500000,美国
2,2,美丽人生,327855.0,剧情/喜剧/爱情,意大利,1997-12-20 00:00:00,116,1997,9.500000,意大利
3,3,阿甘正传,580897.0,剧情/爱情,美国,1994-06-23 00:00:00,142,1994,9.400000,洛杉矶首映
4,4,霸王别姬,478523.0,剧情/爱情/同性,中国大陆,1993-01-01 00:00:00,171,1993,9.400000,香港
...,...,...,...,...,...,...,...,...,...,...
38734,38734,1935年,57.0,喜剧/歌舞,美国,1935-03-15 00:00:00,98,1935,7.600000,美国
38735,38735,血溅画屏,95.0,剧情/悬疑/犯罪/武侠/古装,中国大陆,1905-06-08 00:00:00,91,1986,7.100000,美国
38736,38736,魔窟中的幻想,51.0,惊悚/恐怖/儿童,中国大陆,1905-06-08 00:00:00,78,1986,8.000000,美国
38737,38737,列宁格勒围困之星火战役 Блокада: Фильм 2: Ленинградский ме...,32.0,剧情/战争,苏联,1905-05-30 00:00:00,97,1977,6.600000,美国
38738,未知电影,复仇者联盟3,123456.0,剧情/科幻,美国,2018-05-04 00:00:00,142,2018,6.935704,美国

删除缺失值

In [93]:
len(df)

38739

In [94]:
df2=df.dropna()

In [95]:
len(df2)

38175

In [96]:
df.dropna(inplace=True)
len(df)

38175

处理异常值，一般删除

In [97]:
df[df.投票人数<0]

,Unnamed: 0,名字,投票人数,类型,产地,上映时间,时长,年代,评分,首映地点
19777,19777.0,皇家大贼 皇家大,-80.0,剧情/犯罪,中国香港,1985-05-31 00:00:00,60,1985,6.3,美国
19786,19786.0,日本的垃圾去中国大陆 にっぽんの“ゴミ” 大陆へ渡る ～中国式リサイクル錬,-80.0,纪录片,日本,1905-06-26 00:00:00,60,2004,7.9,美国
19797,19797.0,女教徒,-118.0,剧情,法国,1966-05-06 00:00:00,135,1966,7.8,美国

In [99]:
df[df['投票人数']%1!=0]

,Unnamed: 0,名字,投票人数,类型,产地,上映时间,时长,年代,评分,首映地点
19791,19791.0,女教师 女教,8.30,剧情/犯罪,日本,1977-10-29 00:00:00,100,1977,6.6,日本
19804,19804.0,女郎漫游仙境 ドレミファ娘の血は騒,5.90,喜剧/歌舞,日本,1985-11-03 00:00:00,80,1985,6.7,日本
19820,19820.0,女仆日记,12.87,剧情,法国,2015-04-01 00:00:00,96,2015,5.7,法国
38055,38055.0,逃出亚卡拉,12.87,剧情/动作/惊悚/犯罪,美国,1979-09-20 00:00:00,112,1979,7.8,美国

In [101]:
df=df[df.投票人数>0]
df=df[df['投票人数']%1==0]

In [102]:
df[df.投票人数<0]

Empty DataFrame
Columns: [Unnamed: 0, 名字, 投票人数, 类型, 产地, 上映时间, 时长, 年代, 评分, 首映地点]
Index: []

In [103]:
df[df['投票人数']%1!=0]

Empty DataFrame
Columns: [Unnamed: 0, 名字, 投票人数, 类型, 产地, 上映时间, 时长, 年代, 评分, 首映地点]
Index: []

# 数据保存

In [104]:
df.to_excel('movie_data.xlsx')